@media(max-width: 768px) {
    .heroSecP {
        margin: auto;
    }
}
@media(max-width: 640px) {
    .HeroSecBtn {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media(max-width: 1100px) {
    .HeroSecDetail{
        text-align: center;
    }
    .HeroSecBtnP{
        flex-direction: column;
        align-items: center;
    }
    .heroSecP {
        text-align: center;
    }
    .HeroSecBtn {
        width: 100%;
        justify-content: center;
    }
}

@media(max-width: 1100px) {
    .HeroSecBtn button {
        width: auto;
    }
}
.HeroSecBtn button {
    word-wrap: normal;
}
    